<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mvc.model.dao.ReviewDao">
	<select id="selectAll" resultType="Review">
		select * from Review;
	</select>
	<insert id="insert" parameterType="Review">
  		INSERT INTO review (userId, videoId, content) VALUES (#{userId}, #{videoId}, #{content});
	</insert>
	<update id="update" parameterType="Review">
		update review set content=#{content} where reviewId=#{reviewId}; 
	</update>
	<delete id="delete" parameterType="int">
		delete from review where reviewId=#{reviewId}; 
	</delete>
	
</mapper>
  